/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/

#nav_bar {
	#logo_main {
		img {
			height: 50px;
			padding: 15px 0px;
		}
	}
	
	ul {
		li.menu-item-has-children {
			& > a:link, & > a:visited {
				background: url('../img/light_arrow_down.png') no-repeat;
				background-position: right center;
				background-size: 18px 18px;
			}
		}
	}
}

#nav_bar.scroll-fix {
	ul {
		li.menu-item-has-children {
			& > a:link, & > a:visited {
				background: url('../img/light_arrow_down.png') no-repeat;
				background-position: right center;
				background-size: 18px 18px;
			}
		}
	}
}

.beer_sub_nav_wrapper {
	background: #062a48;
	padding: 0px 0px 20px 0px;
	
	.beer_sub_nav {
		
		ul {
			text-align: center;
			
			li {
				display: inline-block;
				
				a:link, a:visited {
					color: #ffffff;
					display: block;
					font-weight: 500;
					padding: 10px 10px;
					text-decoration: none;
					text-transform: uppercase;
					-webkit-transition: color .15s linear;
					-moz-transition: color .15s linear;
					-ms-transition: color .15s linear;
					transition: color .15s linear;
				}
				
				a:hover,a:active {
					color: #bc792a;
				}
			}
			
			li.current_page_item {
				a:link,a:visited {
					color: #bc792a;
				}
			}
		}
	}
}

header {
	border-bottom: 20px solid #062a48;
}

header.fixed_height {
	height: 600px;
}

#home_logo {
	bottom: 120px;
	height: 330px;
	
	#logo_home {
		img {
			width: 500px;
		}
		
		h2 {
			text-shadow: none;
			margin-top: 10px;
		}
	}
	
	#home_page_nav {
		ul {
			li {
				a:link,a:visited {
					background:#bc792a;
				}
			}
		}
	}
}

header.header_page {
	#page_title {
		h1.heading,
		h2.subheading {
			text-shadow: none;
		}
	}
}

header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.page_default_image {
	background: url('../img/header1.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.header_mobile_home,
header.header_page_mobile {
	.mobile_header_bar {
		img {
			height: 40px;
			padding: 15px 0 15px 20px;
		}
	}
}

.main.home {
	.main_cushion.includes {
		background: #f5f5f5;
		padding: 100px 0px;
		
		.col_3.col_20percent {
			width: 20%;
		}
		
		.content {
			h2 {
				color: #bc792a;
				font-size: 24px;
				margin: 0px 0px 20px 0px;
				text-align: center;
			}
		}
		
		.bottle {
			img {
				display: block;
				height: auto;
				width: 100%;
				-webkit-transition: all .15s linear;
				-moz-transition: all .15s linear;
				-ms-transition: all .15s linear;
				transition: all .15s linear;
			}
			
			img:hover {
				opacity: .5;
			}
		}
	}
}

.main {
	.content {
		h1 {
			color: #bc792a;
			text-align: center;
		}
		
		h2 {
			color: #bc792a;
		}
	}
}

.parallax.parallax_default_image {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.breadcrumb_wrapper {
	span.breadcrumbs {
		text-shadow: none;
		
		a:link, a:visited {
			color: #ffffff;
		}
	}
}


#beer_list {
	.beer_item {
		display: inline-block;
		padding: 0 20px 60px 20px;
		width: calc(25% - 40px);
		
		a:link,a:visited {

		}
		
		a:hover,a:active {
			opacity: .5;
		}
		
		img {
			height: auto;
			width: 100%;
		}
	}
}

#accordion {
	h3.ui-state-active {
		color: #bc792a;
	}
}

article.blog_preview {
	h2 {
		a:link,a:visited {
			color: #bc792a; 
		}
	}
}

#map {
 	width: 100%;
 	height: 350px;
}

#search,
#mobile_nav {
	background: rgba(6,42,72,0.95);
}

.tasting_notes {
	background: #cccccc;
	padding: 40px 40px 20px 40px;
	
	h3 {
		color: #062a48;
	}
	
	p {
		color: #ffffff;
		
		strong {
			color: #062a48;
		}
	}
	
	li {
		color: #ffffff;
	}
}

.apricot {
	.tasting_notes {
		background: #f3a463;
	}
}

.crazy-navel {
	.tasting_notes {
		background: #e15d26;
	}
}

.figaro-2 {
	.tasting_notes {
		background: #d1c89b;
	}
}

.kentucky-peach {
	.tasting_notes {
		background: #e79880;
	}
}

.kriek {
	.tasting_notes {
		background: #ce4544;
	}
}

.manhattan-nw {
	.tasting_notes {
		background: #c42e41;
	}
}

.noyaux-2 {
	.tasting_notes {
		background: #e79880;
	}
}

.sang-du-chene {
	.tasting_notes {
		background: #f6f5f3;
		
		p,li {
			color: #bc7625;
		}
	}
}

/* distrubutor list */

.wholesalers {
	.w_row {
		border: 1px solid #062a48;
		border-top: 0px;
		
		.w_item {
			display: inline-block;
			padding: 10px;
			vertical-align: middle;
			width: calc(16.6666% - 20px);
		}
	}
	
	.w_row:first-child {
		background: #062a48;
		border-top: 1px solid #062a48;
		color: #ffffff;
	}
}

/* age verify */

#av-overlay-wrap {
	background: rgba(6,42,72,0.95) !important;
	
	#av-overlay {
		background: #082034;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		
		.error {
			color: #082034;
		}
		
		h1 {
			color: #ffffff;
			background: url('../img/logo_light.png') no-repeat;
			background-size: 280px auto;
			background-position: center top;
			font-size: 32px;
			font-weight: 500;
			padding-top: 200px;
			text-align: center;
		}
		
		p {
			color: #ffffff;
			font-size: 22px;
			font-weight: 300;
			text-align: center;
		}
		
		#av_verify_form {
			
			label {
				font-size: 14px;
			}
			
			input[type="submit"] {
				background: #bc792a;
				border: none;
				color: #ffffff;
				cursor: pointer;
				display: inline-block;
				font-size: 14px;
				padding: 10px 15px;
				text-transform: uppercase;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				appearance: none;
			}
			
			input[type="submit"]:hover {
				opacity: .5;
			}
			
			select {
				font-size: 18px;
			}
			
		}
	}
}


@media (min-width: 980px) and (max-width: 1220px) {
	
	header.home_default_image {
		background: url('../img/home.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		bottom: 50px;
		height: 260px;
		
		#logo_home {
			img {
				width: 300px;
			}
		}
	}
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/header1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		bottom: 50px;
		height: 260px;
		margin-top: 100px;
		
		#logo_home {
			img {
				width: 300px;
			}
		}
	}
	
	#beer_list {
		.beer_item {
			padding: 0 20px 60px 20px;
			width: calc(50% - 40px);
		}
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/header1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		bottom: 50px;
		height: 260px;
		margin-top: 90px;
		
		#logo_home {
			img {
				width: 250px;
			}
		}
	}
	
	.main.home {
		.main_cushion.includes {
			.bottle {
				margin-bottom: 50px;
				
				img {
					margin: 0 auto;
					width: 300px;
				}
			}
			
			.col_3:last-child {
				.bottle {
					margin-bottom: 0px;
				}
			}
			
			.col_3.col_20percent {
				width: 100%;
			}
		}
	}
	
	#beer_list {
		.beer_item {
			padding: 0 20px 60px 20px;
			width: calc(50% - 40px);
		}
	}
	
	/* distrubutor list */

	.wholesalers {
		.w_row {
			.w_item {
				display: block;
				width: calc(100% - 20px);
			}
		}
	}
	
	/* age verify */
	
	#av-overlay-wrap {
		#av-overlay {
			margin: 10px 10px 0 10px;
			position: static;
			width: calc(100% - 100px);
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/header1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		bottom: 50px;
		height: 260px;
		margin-top: 90px;
		
		#logo_home {
			img {
				width: 200px;
			}
		}
	}
	
	.main.home {
		.main_cushion.includes {
			.bottle {
				margin-bottom: 50px;
				
				img {
					margin: 0 auto;
					width: 200px;
				}
			}
			
			.col_3:last-child {
				.bottle {
					margin-bottom: 0px;
				}
			}
			
			.col_3.col_20percent {
				width: 100%;
			}
		}
	}
	
	#beer_list {
		.beer_item {
			padding: 0 20px 60px 20px;
			width: calc(100% - 40px);
		}
	}
	
	/* distrubutor list */

	.wholesalers {
		.w_row {
			.w_item {
				display: block;
				width: calc(100% - 20px);
			}
		}
	}
	
	/* age verify */
	
	#av-overlay-wrap {
		#av-overlay {
			margin: 10px 10px 0 10px;
			position: static;
			width: calc(100% - 100px);
		}
	}
	
}